/* Default link style */
a {
	text-decoration: none;
  }
  
  /* Highlighted Uyir letters */
  .highlighted {
	color: #de1a1a; /* Orange color for highlighted text */
	color:rgb(0, 8, 255);
	/* text-decoration: underline; */
	 /* Underline for emphasis */
	font-weight: bold;
	cursor: pointer;
  }
  
 